body {
    background-color: #000;
    color: #0F0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.terminal {
    border: 2px solid #0F0;
    padding: 20px;
}

.hack-animation {
    overflow: hidden;
    white-space: nowrap;
    font-size: 36px; /* Larger font size */
}

#cursor {
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.menu {
    display: none; /* Initially hidden */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
}

.menu ul li a {
    color: #0F0;
    text-decoration: none;
}
